<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= react_component "ProductList",
            render(template: 'products/index.json.jbuilder') %>
    </div>
  </div>
</div>
